body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
}

.calc-container{
    width: 340px;
    height: 320px;
    background-color: rgb(32,32,32);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5px;
    justify-content: stretch;
    border-radius: 8px;
    
}

.calc-screen{
    width: 100%; 
    margin-bottom: 5px;
    background-color: rgb(34, 34, 37);
    border-radius: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    font-family: monospace;
}

.display{
    align-self: flex-end;
    color: white;
    text-align: right;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

.display-ops{
 color: gray;  
 min-height: 20px;
 text-align: right; 
 margin: 0;
}

.calc-row{
    flex: 1;
    display:flex;
    width: 340px;
    justify-content: stretch;
}

button{
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 4px;
    background-color: rgb(59, 59, 59);
    font-size: 1.1rem;
}

#number:hover{
    background-color: rgb(50, 50, 50);
}

.equals{
    background-color: rgb(76, 194, 255);
    color: rgb(50, 50, 50)
}

.equals:hover{
    background-color:rgba(76, 194, 255, 0.8) ;
}

.operator{
    background-color: rgb(50, 50, 50)
}

.operator:hover{
    background-color: rgb(59, 59, 59);
}

.credits{
    margin-top: 60px;
    color: rgb(50, 50, 50);
    font-size: 1.1rem;
    font-style: italic;
}

h5 a{
    color: rgb(58, 98, 133);
    text-decoration: none;
}